<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>781390073662-5uvq245gbcnvgrt7ha89kod9sepk2543.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.781390073662-5uvq245gbcnvgrt7ha89kod9sepk2543</string>
	<key>API_KEY</key>
	<string>AIzaSyB38hoPk2T-L1_PCutCZR6onwhbfLB8a6A</string>
	<key>GCM_SENDER_ID</key>
	<string>781390073662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nadaalbalawi.catchBullying</string>
	<key>PROJECT_ID</key>
	<string>catchbullying</string>
	<key>STORAGE_BUCKET</key>
	<string>catchbullying.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781390073662:ios:2a40de93c262d07883266f</string>
</dict>
</plist>